/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  /* Header */
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* News Section */
  .news-section {
    padding: 50px 0;
  }
  
  .article-meta {
    font-size: 0.8rem;
    color: #888;
    margin-bottom: 20px;
  }
  
  .article-date {
    margin-right: 10px;
  }
  
  .article-author {
    font-weight: bold;
  }
  
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  /* Aside */
  aside {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  /* Footer */
  .footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
  }
  